<div *ngIf="!(loggedIn$ | async)">
  <p>You must <a class="pointer" (click)="login()">login with Pinterest</a> to use PinHead, and ensure that you have:</p>
  <ul>
    <li>At least one <a href="https://help.pinterest.com/en/articles/following-and-unfollowing#Web">followed board</a> to pin from</li>
    <li>At least one <a href="https://help.pinterest.com/en/articles/add-edit-or-delete-board#Web">board you've added</a> to pin to</li>
  </ul>
</div>

<div *ngIf="(loggedIn$ | async)">
  <md-nav-list *ngIf="!fromBoard && (followedBoards$ | async)">
    <h3 md-subheader>Choose a board you follow to pin from</h3>
    <md-list-item *ngFor="let board of followedBoards$ | async" (click)="setFromBoard(board)">
      <img md-list-avatar [src]="thumbnail(board).url" alt="Image of {{board.name}}">
      <h4 md-line>{{board.name}}</h4>
      <p md-line>
        <span>{{board.description}}</span>
      </p>
    </md-list-item>
  </md-nav-list>

  <md-nav-list *ngIf="fromBoard && !pin">
    <h3 md-subheader>Choose a board to pin to</h3>
    <md-list-item *ngFor="let board of myBoards$ | async" (click)="showPinCandidates(board)">
      <img md-list-avatar [src]="thumbnail(board).url" alt="Image of {{board.name}}">
      <h4 md-line>{{board.name}}</h4>
      <p md-line>
        <span>{{board.description}}</span>
      </p>
    </md-list-item>
  </md-nav-list>

  <md-card *ngIf="pin">
    <md-card-header>
      <md-card-subtitle>Pinning from <strong>{{fromBoard.name}}</strong> to <strong>{{toBoard.name}}</strong></md-card-subtitle>
    </md-card-header>
      <img md-card-image [src]="pin.image.original.url">
    <md-card-content>
      <p>{{pin.note}}</p>
    </md-card-content>
  </md-card>
</div>

<div id="camera"></div>
