:host {
  display: block;
  width: 180px;
}

nav a {
  color: #8f8f8f;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  text-decoration: none;
  text-indent: 30px;
}

nav a.router-link-active {
  color: #106cc8;
}
