:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

md-card {
  margin: 16px;
  max-width: 600px;
}

img {
  max-width: 600px;
}

md-input {
  width: 100%;
}

md-list, md-nav-list {
  border: 1px solid rgba(0,0,0,0.12);
  margin: 16px;
}

.search {
  display: flex;
}

#camera {
  display: none;
}
