<div id="camera"></div>
<button (click)="snap()">Snap</button>

<md-nav-list *ngIf="!toBoard">
  <h3 md-subheader>Choose a board to pin to</h3>
  <md-list-item *ngFor="let board of myBoards$ | async" (click)="setToBoard(board)">
    <img md-list-avatar [src]="thumbnail(board).url" alt="Image of {{board.name}}">
    <h4 md-line>{{board.name}}</h4>
    <p md-line>
      <span>{{board.description}}</span>
    </p>
  </md-list-item>
</md-nav-list>

<md-nav-list *ngIf="toBoard && !pin$">
  <h3 md-subheader>Choose a board to pin from</h3>
  <md-list-item *ngFor="let board of followedBoards$ | async" (click)="showPinCandidates(board)">
    <img md-list-avatar [src]="thumbnail(board).url" alt="Image of {{board.name}}">
    <h4 md-line>{{board.name}}</h4>
    <p md-line>
      <span>{{board.description}}</span>
    </p>
  </md-list-item>
</md-nav-list>

<md-card *ngIf="pin$ | async" (click)="rePin(pin$)">
  <md-card-header>
    <md-card-subtitle>Pinning from <strong>{{fromBoard.name}}</strong> to <strong>{{toBoard.name}}</strong></md-card-subtitle>
  </md-card-header>
    <img md-card-image [src]="(pin$ | async)?.image?.original?.url">
  <md-card-content>
    <p>{{(pin$ | async)?.note}}</p>
  </md-card-content>
</md-card>
