.notif {
  position: fixed;
  right: 20px;
  bottom: -50px;
  background-color: #323232;
  padding: 12px 24px 17px 24px;
  vertical-align: middle;
  color: #fff;
  box-shadow: 0 7px 18px rgba(0,0,0,0.2);
  border-radius: 1px;
}

.peek {
  -webkit-animation: peek 5s forwards;
  -webkit-animation-delay: 0.5s;
  animation: peek 3s forwards;
  animation-delay: 500ms;
}

@-webkit-keyframes peek {
      0% { bottom: -50px; }
     10% { bottom: 20px; }
     90% { bottom: 20px; }
    100% { bottom: -50px; }
}

@keyframes peek {
      0% { bottom: -50px; }
     10% { bottom: 20px; }
     90% { bottom: 20px; }
    100% { bottom: -50px; }
}
