<p>PinHead repins when you react with joy (as expressed by your face).<p>

<h2>Technologies used</h2>
<ul>
  <li>
    <a href="https://angular.io/">Angular2</a> with <a href="https://github.com/ReactiveX/rxjs">RxJS 5</a>
    provided by <a href="https://github.com/mgechev/angular2-seed">mgechev/angular2-seed</a>
  </li>
  <li><a href="https://github.com/angular/material2">Angular2 Material</a></li>
  <li><a href="https://github.com/jhuckaby/webcamjs">WebcamJS</a></li>
  <li><a href="https://cloud.google.com/vision/">Google Cloud Vision API</a> via <a href="https://gist.github.com/cyk/8ec6481d3dcbe10376f8">AWS API Gateway and Lambda</a></li>
  <li><a href="https://developers.pinterest.com/docs/getting-started/introduction/">Pinterest API/SDK</a></li>
</ul>
<p>For more information, see <a href="https://github.com/cyk/pin-head/README.md">https://github.com/cyk/pin-head/README.md</a></p>
